<! DOCTYPE html>
<html>
  <head>
      <title>Taxi skjema </title>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/NewTaxi.css') }}">
  </head>
  <body>



    <form class="form-inline" action="/action_page.php">

        <h1>Register</h1>
          <myowncodeStyle>  Vennligst fyll ut dette skjemaet for å opprette en ny konto.</myowncodeStyle>
        <br>
        <br><br>
        <div class="form-group">

          <label for="fornavn"> Fornavn :</label>
          <input type="text"  width= "500px" placeholder="skrive fornavn" name="fornavn" required>
          <br>
        </div>
        <div class="form-group">
          <label for="etternavn">Etternavn:</label>
          <input type="text" placeholder="Skrive etternavn" name="etternavn" required>
          <br>
      </div>
        <div class="form-group">
        <label for="epost">E-post:</label>
        <input type="text" placeholder="Skrive e-post" name="email" size = 28px >
        <br>
      </div>

        <div class="form-group">
          <label for="psw">Passord:</label>
          <input type="password" placeholder="Skrive passord" name="psw" required>
          <br>
        </div>

        <div class="form-group">
          <label for="psw-repeat"> Passord igjen:</label>
          <input type="password" placeholder="Skrive passord igjen" name="psw-repeat" required>
          <br>
        </div>
        <div class="checkbox">
          <label><input type="checkbox"> Husk meg </label>
        </div>
        <button type="submit" class="registerbtn">Register</button>
      </div>

      <div class="container signin">
        <p>Har du allerede en konto? <a href="#">logg inn</a>.</p>
      </div>
    </form>

  </body>
